<div id="<%= dom_id score %>">
  <p>
    <strong>User name:</strong>
    <%= score.user.present? ? score.user.name : t('scores.guest_user') %>
  </p>

  <p>
    <strong>Clear time:</strong>
    <%= score.clear_time %>
  </p>

</div>
