<h1>8Puzzles</h1>
<style>
  .tile {
    width: 70px;
    height: 70px;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    background-color: white;
    box-shadow: rgb(128, 128, 128) 5px 5px;
  }
</style>

<table id="table"></table>
<h2>経過時間：<span id="time">0</span>秒</h2>

<div class="controls">
  <button id="start-button">スタート</button>
  <%= link_to "ランキングページへ", scores_path, class: "button" %>
</div>
