<h1><%= t('puzzles.title') %></h1>

<div class="menu">
  <h2><%= t('puzzles.please_select') %></h2>
  <% @difficulties.each do |size| %>
    <li>
      <%= link_to t('puzzles.play_with_size', size: size), puzzle_path(size) %> |
      <%= link_to t('puzzles.ranking'), scores_path(difficulty: size) %>
    </li>
  <% end %>
</div>


