<h1>スライドパズル</h1>

<div class="menu">
  <h2>難易度を選択してください</h2>
  <% @difficulties.each do |size| %>
    <li>
      <%= link_to "#{size}パズルを遊ぶ", puzzle_path(size) %> |
      <%= link_to "ランキング", scores_path(difficulty: size) %>
    </li>
  <% end %>
</div>

<div>
  <%= link_to 'ログインページへ', login_path %>
</div>


